* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
}

.show-modal {
  border: none;
  padding: 20px;
  margin-top: 50px;
  background-color: crimson;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 0.3;
  display: none;
  z-index: 0;
}

.modal {
  height: 200px;
  width: 30vw;
  background-color: white;
  box-shadow: 0 0 20px gray;
  opacity: 0;
  border-radius: 15px;
  position: absolute;
  top: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.5s;
  transform: translateY(-100vh);
}

.modal span {
  padding: 15px;
}

.modal .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.modal .confirm-modal {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(17, 143, 17);
  color: white;
  cursor: pointer;
}
